body {
  background: linear-gradient(#f3ebfa, #91b5e3);
  margin: 0;

}

header {

  font-family: 'Amatic SC', cursive;
  margin: 0;
  position: relative;
  top: 30%;
  text-align: center;
}
header h1 {
  color: black;
  font-size: 11vw;
  margin: inherit;
}

header p {
  font-size: 2.2vw;
  margin: 0;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: black;
  padding: 8px;
}

li a:hover {
  color: blue;
}

nav {
  position: relative;
  top: 30%;
  text-align: center;
}

ul {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  border
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

}
