* {
  box-sizing: border-box;
}

html {
  background-color: rgba(255, 255, 240, 0);
  background-attachment: fixed;
	font-family: Avenir, "Helvetica Neue";
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  font-size: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

.abvh1 {
  margin: 0.8em 0 0 0;
  padding-top: 3em;
}
header h1 {
	border-bottom: 1px solid;
  border-top: 1px solid;
  border-width: medium;
  color: black;
  font-size: 5em;
  margin: 0;
}

header p {
  color: black;
  font-size: 1.1em;
  margin: 0;
}

.nav {
  background-color: rgba(45,45,45,0.98);
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%
}

.nav li {
  display: inline;
}

.nav a {
  color: white;
  display: inline-block;
  padding: .8em;
}

.nav a:hover {
  color: grey;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#card {
	text-align: center;
	border-radius: 5%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	max-width: 40%;
	position: relative;
	left: 30%
}

#firstart {

}
