* {
  box-sizing: border-box;
}

html {
  background-color: rgba(255, 255, 240, 0);
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  font-size: 100%;
  font-family: 'Amatic SC', cursive;
  margin: 0;
  position: relative;
  text-align: center;
}

.abvh1 {
  margin: 15px 0 0 0;
  padding-top: 45px;
}
header h1 {
  border: 1px solid;
  border-width: medium;
  color: black;
  font-size: 5em;
  margin: inherit;
}

header p {
  color: black;
  font-size: 1.1em;
  margin: 0;
}

.nav {
  background-color: rgba(45,45,45,0.98);
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.nav li {
  display: inline;
}

.nav a {
  color: white;
  display: inline-block;
  padding: 10px;
}

.nav a:hover {
  color: grey;
}
