html {
  background-color: rgb(67, 67, 67);
  background-attachment: fixed;
	font-family: Avenir, "Helvetica Neue";
	font-size: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(10em, auto);
}

header{
	color: greenyellow;
	margin: auto;
	text-align: center;
}

section{
	box-shadow: 0 4px 8px 0 rgba(109, 255, 103, 0.2);
	border-radius: 2em;
	background-color: rgb(255, 180, 77);
	margin: auto;
	padding: 4em;
}

.attribute{
	grid-column: 1/4;
	grid-row: 1;
}
.weight{
	grid-column: 1/4;
	grid-row: 2;
}
.submit{
	grid-column: 2/3;
	grid-row: 3;
}

table {
	border: 1px black solid;
}

td {
	border: 1px black solid;
}

@media screen and (max-resolution: 600dpi) {
	.one, .two {
		display: grid;
	}
}
