html {
  background-color: rgb(67, 67, 67);
  background-attachment: fixed;
	background-image: url(/backgroundImg/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
	background-size: cover;
	font-family: Avenir, "Helvetica Neue";
	font-size: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header{
	color: greenyellow;
	margin: auto;
	text-align: center;
}

main {
	display: grid;
	grid-auto-rows: minmax(1em,auto);
	grid-template-columns: repeat(12,1fr);
	grid-gap: 1em;
}
/* ---------SECTION--------- */
section{
	box-shadow: 0 4px 8px 0 rgba(103, 197, 255, 0.2);
	border-radius: 2em;
	background-color: rgba(152, 152, 152, 0.69);
	padding: 4em;
}
.attribute{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-row: 1;
	grid-column: 4/7;
	color: rgba(135,255,255,1);
	text-shadow: 1px 1px black;
	padding: 1em;
}
.weight{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-row: 1;
	grid-column: 7/10;
	color: rgba(135,255,255,1);
	text-shadow: 1px 1px black;
	padding: 1em;
}
.other {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-auto-rows: minmax(5em,auto);
	grid-row: 3;
	grid-column: 4/10;
	padding: 1em;
}

/* -----weight classes------- */
.weight p{
	grid-row: 1;
	grid-column: 1/4;
	align-self: end;
	text-align: justify;
}
.secW1, .weight1{
	grid-row: 2;
	grid-column: 2/4;
	align-self: end;
	width: 100%;

}
.secN1{
	grid-row: 3;
	grid-column: 2/3;
	align-self: start;
}
.secW2, .weight2{
	grid-row: 4/5;
	grid-column: 2/4;
	align-self: end;
	width: 100%;
}
.secN2{
	grid-column: 2/3;
	grid-row: 5/6;
	align-self: start;
}
.secW3, .weight3{
	grid-row: 6/7;
	grid-column: 2/3;
	align-self: end;
	width: 100%;
}
.secN3{
	grid-column: 2/3;
	grid-row: 7/8;
	align-self: start;
}
/*------attribute classes-----*/
.attribute p{
	grid-row: 1;
	grid-column: 1/4;
	align-self: end;
	text-align: justify;
}
.secA1, .attr1{
	grid-row: 2;
	grid-column: 2/4;
	align-self: end;
	width: 100%;

}
.secAn1{
	grid-row: 3;
	grid-column: 2/3;
	align-self: start;
}
.secA2, .attr2{
	grid-row: 4/5;
	grid-column: 2/4;
	align-self: end;
	width: 100%;
}
.secAn2{
	grid-column: 2/3;
	grid-row: 5/6;
	align-self: start;
}
.secA3, .attr3{
	grid-row: 6/7;
	grid-column: 2/3;
	align-self: end;
	width: 100%;
}
.secAn3{
	grid-column: 2/3;
	grid-row: 7/8;
	align-self: start;
}
/*--------other classes-------*/
.nested0{
	grid-row: 1;
	grid-column: 3/4;
	align-self: start;
	justify-self: end;
}
.nested1{
	grid-row: 1;
	grid-column: 5/9;
	align-self: center;
	height: 50%;

}
.nested2{
	grid-row: 1;
	grid-column: 10/11;
	align-self: start;
}
.nested3{
	grid-row: 2;
	grid-column: 3/11;
}
.submit{
	height: 5em;
	width: 10em;
	border-radius: 1em;
	background-color: rgb(157, 252, 252)
}
.result {
	width: 100%;;
	height: 50%;
}
.reset{
	height: 5em;
	width: 10em;
	border-radius: 1em;
	background-color: #ff5555;

}

/*----------Table-----------*/
caption{
	text-align: left;
	font-family: 'Source Code Pro', monospace;
}
table {
	table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #000000;
}
thead th{
  font-family: 'Source Code Pro', monospace;
	letter-spacing: 0.1rem;
	background: linear-gradient(to bottom, rgba(135,255,255,1), rgba(34,165,220,1));
	border-bottom: 0.3rem solid black;
}
.tblRow{
	background-color: forestgreen;
}
thead{
  color: black;
}
tbody td {
 	text-align: center;
	letter-spacing: 0.1rem;
	color: #ffffff
}
th, td {
  padding: 1rem;
}
/*--------------------------*/

@media screen and (max-width:768px){
	.attribute{
		grid-column: 2/7
	}
	.weight{
		grid-column: 7/12
	}
	.other{
		grid-row: 2;
		grid-column: 3/11
	}
}

@media screen and (max-width: 425px){
	.nested0{
		grid-row:2;
	}
	.nested1{
		grid-row: 1;
		grid-column: 2/12;
	}
	.nested2{
		grid-row: 2;
	}
	.nested3{
		grid-row: 3
	}
}
